@import 'lemonjs-lui/css/colors.styl'
@import 'lemonjs-lui/css/themes/basic.styl'

@import './demo.styl'

.example
  .lui-header-menu
    margin-bottom 40px
    margin-left 40px

#examples-page
  h1, h2
    margin 0 auto
    padding 40px
